<tr>
  <td class=""> <%= recipe_food[1].food.name %></td>
  <td class=""><%= recipe_food[1].quantity %> <%= recipe_food[1].food.measurement_unit %></td>
  <td class=""><%= number_to_currency(recipe_food[1].food.price * recipe_food[1].quantity) %></td>
</tr>
